header{
    text-align: center;
    background-color: darkslategrey;
    color: whitesmoke;
}
header > h1, h6{
    margin: auto;
}
header > p{
    font-size: 20px;
    text-align: center;
}
hr{
    background-color: darkolivegreen;
}
nav{
    font-size: 20px;
    text-align: center;
    height: 60px;
}
nav > a{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 30px;
    color: black;
    font-size: 38px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
}
div > section > ul{
    text-align: center;
    font-size: 30px;
    margin-top: 200px;
}
div > section > ul > a{
    color: whitesmoke;
}
nav > a:hover{
    background-color: darkorange;
    color: whitesmoke;
}
#pokedex{
    background-image: url(https://lemarudev.github.io/mi-proyecto-web/proyecto_final/imagenes/pokedex_icon.jpg);
    background-size: 270px 160px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 40px 40px 40px;
    color: gold;
}
#sistema{
    background-image: url(https://lemarudev.github.io/mi-proyecto-web/proyecto_final/imagenes/espacio_icon.jpg);
    background-size: 270px 160px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 0px 40px 0px;
}
#html{
    background-image: url(https://lemarudev.github.io/mi-proyecto-web/proyecto_final/imagenes/html_icon.jpg);
    background-size: 270px 160px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 40px 40px 40px;
}
#proyecto{
    background-image: url(https://lemarudev.github.io/mi-proyecto-web/proyecto_final/imagenes/proyect_icon.png);
    background-size: 280px 160px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px 40px 40px 40px;
    color: black;
}