@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap);
html {
    background-color: rgb(90, 85, 85);
    background-position: center;
}
body{
    margin: auto;
}

header{    
    width: 465px;
    height: 100px;
    margin-left: 465px;
}
header > h1 {
    text-align: center;
    font-family: 'merriweather', serif;
    font-size: 25px;
    color: whitesmoke;
    text-shadow: rgb(255, 149, 149) 0px 3px 7px;
    background-image: url(https://avatars.githubusercontent.com/u/23482095?v=4);
    background-position: left;
    background-size: 15%;
    background-repeat: no-repeat;
    background-color: rgb(184, 184, 184);
    padding: 0 10%;
    outline: none;
    text-decoration: none;
}
nav{
    margin-top: -25px;
    margin-left: 350px;
    border-color: black;
    outline: solid black;
    width: 700px;
    background-color:rgb(184, 184, 184);
}
a { 
    padding-left: 100px;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-family: 'merriweather', serif;
}
a:link{
    color: crimson;
    text-decoration: none;
}
a:visited{
    color: purple;
    text-decoration: none;
}
a:hover{
    color: royalblue;
    text-decoration: white;
}
p{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'merriweather', serif;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}
div{
    width: 1200px;
    background-color: rgb(184, 184, 184);
    font-family: 'merriweather', serif;
    font-size: 20px;
    border-style: solid;
    text-align: justify;
    margin: auto;
    border-radius: 20px;    
}
select{
    background-color: rgb(149, 164, 255);
    width: 250px;
    height: 20px;
    margin-left: 450px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
}
div > section{
    background-color: bisque;
    width: 1000px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
    margin-bottom: 30px;
}
section > img {
    width: 200px;
    height: 200px;
    margin-top: 60px;
    margin-left: 90px;
    border-radius: 10px;
}
ul {
    vertical-align: top;
    display: inline-block;
}
ul > #nombre{
    font-size: 30px;
    margin-left: 110px;
    background-color: rgb(86, 130, 171);
    width: 300px;
    text-align: center;
    outline: solid black;
    border-radius: 13px;
    color: whitesmoke;
    margin-bottom: 10px;
}
div > section > ul > ul{
    background-color: rgb(17 13 38);
    width: 500px;
    margin-left: 10px;
    text-align: justify;
    border-radius: 10px;
    outline: thick solid black;
}
ul > ul > #descripción {
    padding: 0%;
    margin-bottom: 20px;
    font-family: 'merriweather', serif;
    display: inline-block;
    font-size: 20px;
    background-color: rgb(17 13 38);
}
ul > ul > section > p{
    font-family: 'merriweather', serif;
    display: inline;
    margin-left: 40px;
}
@media (max-width:640px){
    html{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body{
        width: 320px;
        height: 480px;
        margin: auto;
    }
    header{
        width: 300px;
        font-size: 15px;
        margin-left: 10px;
    }
    header > h1{
        text-align: center;
        font-family: 'merriweather', serif;
        color: whitesmoke;
        outline: none;
        text-decoration: none;
    }
    nav{
        margin: auto;
        outline: solid black;
        width: 255px;
        height: 15px;
        margin-bottom: 5px;
    }
    a{
        padding-left: 20px;
        font-size: 10px;
        color: whitesmoke;
    }
    p{
        padding-top: 5px;
        color: whitesmoke;
        font-size: 9px;
        text-align: justify;
        width: 90%;
        margin: auto;
    }
    div{
        width: 300px;
        font-size: 10px;
        margin-top: 20px;
    }
    select{
        width: 200px;
        height: 15px;
        margin-left: 60px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    div > section{
        width: 280px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 20px;
        outline: solid black;
    }
    section > img{
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-left: 100px;
        border-radius: 5px;
    }
    div > section > ul > #nombre{    
        font-size: 15px;
        margin-left: 25px;
        margin-top: 0px;
        width: 150px;
        border-radius: 5px;}
    div > section > ul > ul{
        width: 210px;
        margin-left: -25px;
        margin-top: 15px;
        font-size: 10px;
        border-radius: 5px;
    }
    ul > ul > #descripción{
        text-align: center;
        font-size: 10px;
    }
    ul > ul > section > p{
        font-family: 'merriweather', serif;
        display: inline;
        margin-left: auto;
        padding: 2% 2% 2% 2%;
    }
}
@media only screen and (min-width:640px) and (max-width:1024px){
    html{

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body{
        width: 640px;
        height: 960px;
        margin: auto;
    }
    header{
        width: 550px;
        font-size: 40px;
        margin: auto;
    }
    header > h1{
        font-size: 30px;
        margin: auto;
    }
    nav{
        margin: auto;
        outline: solid black;
        width: 400px;
        height: 20px;
        margin-bottom: 10px;
    }
    a{
        padding-left: 30px;
        font-size: 18px;
        color: whitesmoke;
    }
    p{
        padding-top: 5px;
        color: whitesmoke;
        font-size: 20px;
    }
    div{
        width: 600px;
        font-size: 10px;
        margin-top: 20px;
        border-radius: 20px;
    }
    select{
        width: 300px;
        height: 25px;
        margin-left: 150px;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 20px;
    }
    div > section{
        width: 550px;
        margin-top: 10px;
        margin-left: 25px;
        border-radius: 10px;
        outline: solid black;
    }
    section > img{
        width: 190px;
        height: 190px;
        margin-top: 20px;
        margin-left: 180px;
    }
    div > section > ul > #nombre{    
        font-size: 20px;
        margin-left: 110px;
        margin-bottom: 15px;
        width: 250px;
        border-radius: 10px;}
    div > section > ul > ul{
        width: 485px;
        margin-left: -27px;
        margin-top: 15px;
        font-size: 20px;
        border-radius: 8px;
    }
    ul > ul > #descripción{
        text-align: center;
        display: inline-block;
        margin-left: -35;
    }
    ul > ul > section > p{
        font-family: 'merriweather', serif;
        display: inline;
        margin-top: 10px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1280px){
    body{
        width: 1024px;
        height: 768px;
        margin: auto;
    }
    header{
        width: 500px;
        font-size: 35px;
        margin-left: 262px;
    }
    header > h1{
        font-size: 30px;
        margin:auto;
        padding-left: 65px;
    }
    nav{
        margin: auto;
        outline: solid black;
        width: 460px;
        height: 25px;
        margin-bottom: 5px;
    }
    a{
        padding-left: 20px;
        font-size: 20px;
        color: whitesmoke;
    }
    p{
        padding-top: 5px;
        color: whitesmoke;
        font-size: 20px;
        text-align: justify;
        margin: auto;
    }
    div{
        width: 1000px;
        font-size: 20px;
        margin-top: 20px;
    }
    select{
        width: 300px;
        height: 25px;
        margin-left: 335px;
        margin-top: 25px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 22px;
    }
    div > section{
        width: 900px;
        margin-top: 10px;
        margin-left: 50pxpx;
        border-radius: 20px;
        outline: solid black;
    }
    section > img{
        width: 180px;
        height: 180px;
        margin-top: 30px;
        margin-left: 100px;
        border-radius: 5px;
    }
    div > section > ul > #nombre{    
        margin-top: 60px;
        border-radius: 5px;
        font-size: 40px;
    }
    div > section > ul > ul{
        width: 700px;
        margin-left: -260px;
        margin-top: 100px;
        border-radius: 5px;
    }
    ul > ul > #descripción{
        text-align: center;
    }
    ul > ul > section > p{
        font-family: 'merriweather', serif;
        display: inline;
        margin-left: auto;
        padding: 2% 2% 2% 2%;
    }
}
@media only screen and (min-width:1280px) and (max-width:1920px){
    body{
        width: 1280px;
        height: 800px;
        margin: auto;
    }
    header{
        width: 600px;
        font-size: 30px;
        margin: auto;
    }
    header > h1{
        font-size: 30px;
        margin: auto;
    }
    nav{
        margin: auto;
        outline: solid black;
        width: 700px;
        margin-bottom: 5px;
    }
    a{
        padding-left: 80px;
        font-size: 25px;
        color: whitesmoke;
    }
    p{
        padding-top: 5px;
        color: whitesmoke;
        font-size: 25px;
        margin: auto;
    }
    div{
        width: 1200px;
        font-size: 30px;
        margin-top: 20px;
    }
    select{
        font-size: 15px;
        width: 350px;
        margin-left: 425px;
        margin-top: 20px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    div > section{
        width: 1150px;
        margin-top: 20px;
        margin-left: 25px;
        border-radius: 10px;
        outline: solid black;
    }
    section > img{
        width: 300px;
        height: 300px;
        margin-top: 90px;
        margin-left: 70px;
        border-radius: 5px;
    }
    div > section > ul > #nombre{    
        font-size: 35px;
        margin-left: 150px;
        margin-top: 50px;
        width: 350px;
        border-radius: 5px;}
    div > section > ul > ul{
        width: 650px;
        margin-left: auto;
        margin-top: 15px;
        font-size: 20px;
        border-radius: 5px;
    }
    ul > ul > #descripción{
        text-align: center;
        font-size: 25px;
    }
    ul > ul > section > p{
        font-family: 'merriweather', serif;
        display: inline;
        margin-left: 30px;
    }
}
@media only screen and (min-width:1920px){
    header{
        width: 840px;
        font-size: 50px;
        margin-left: 540px;
        margin-bottom: 100px;
    }
    header > h1{
        font-size: 70px;
        width: 1200px;
        margin: auto;
        padding-left: 200px;
    }
    nav{
        margin: auto;
        outline: solid black;
        width: 750px;
        margin-bottom: 5px;
    }
    a{
        padding-left: 80px;
        font-size: 30px;
        color: whitesmoke;
    }
    p{
        padding-top: 20px;
        color: whitesmoke;
        font-size: 30px;
        text-align: center;
        margin: auto;
    }
    div{
        width: 1700px;
        font-size: 40px;
        margin-top: 20px;
    }
    select{
        width: 450px;
        height: 50px;
        margin-left: 700px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 20px;
        font-size: 30px;
    }
    div > section{
        width: 1600px;
        margin-top: 30px;
        margin-left: 50px;
        border-radius: 30px;
        outline: solid black;
    }
    section > img{
        width: 450px;
        height: 450px;
        margin-top: 120px;
        margin-left: 100px;
        border-radius: 5px;
    }
    div > section > ul > #nombre{    
        font-size: 55px;
        margin-left: 190px;
        margin-top: 50px;
        width: 550px;
        border-radius: 5px;}
    div > section > ul > ul{
        width: 900px;
        margin-left: 10px;
        margin-top: 80px;
        font-size: 10px;
        border-radius: 5px;
    }
    ul > ul > #descripción{
        text-align: center;
        font-size: 35px;
    }
    ul > ul > section > p{
        font-family: 'merriweather', serif;
        display: inline;
        margin-left: auto;
        padding: 2% 2% 2% 2%;
        margin-top: 50px;
    }
}