@import url(https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap);
html {
    background-color: rgb(90, 85, 85);
    background-position: center;
}
body{
    margin: auto;
}

header{    
    width: 465px;
    height: 100px;
    margin-left: 465px;
}
header > h1 {
    text-align: center;
    font-family: 'merriweather', serif;
    font-size: 25px;
    color: whitesmoke;
    text-shadow: rgb(255, 149, 149) 0px 3px 7px;
    background-image: url(https://avatars.githubusercontent.com/u/23482095?v=4);
    background-position: left;
    background-size: 15%;
    background-repeat: no-repeat;
    background-color: rgb(184, 184, 184);
    padding: 0 10%;
    outline: none;
    text-decoration: none;
}
nav{
    margin-top: -25px;
    margin-left: 350px;
    border-color: black;
    outline: solid black;
    width: 700px;
    background-color:rgb(184, 184, 184);
}
a { 
    padding-left: 100px;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-family: 'merriweather', serif;
}
a:link{
    color: crimson;
    text-decoration: none;
}
a:visited{
    color: purple;
    text-decoration: none;
}
a:hover{
    color: royalblue;
    text-decoration: white;
}
p{
    font-size: 20px;
    color: whitesmoke;
    font-family: 'merriweather', serif;
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 15px;
}
div{
    width: 1200px;
    background-color: rgb(184, 184, 184);
    font-family: 'merriweather', serif;
    font-size: 20px;
    border-style: solid;
    text-align: justify;
    margin: auto;
    border-radius: 20px;    
}
select{
    background-color: rgb(255, 149, 149);
    width: 250px;
    height: 20px;
    margin-left: 450px;
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
}
div > section{
    background-color: bisque;
    width: 1000px;
    margin-top: 10px;
    margin-left: 100px;
    border-radius: 20px;
    margin-bottom: 30px;
}
section > img {
    width: 200px;
    height: 200px;
    margin-top: 60px;
    margin-left: 90px;
    border-radius: 10px;
}
ul {
    vertical-align: top;
    display: inline-block;
}
ul > #nombre{
    font-size: 30px;
    margin-left: 110px;
    background-color: rgb(237, 255, 173);
    width: 300px;
    height: 40px;
    text-align: center;
    outline: solid black;
    border-radius: 13px;
    color: black;
    margin-bottom: 10px;
}
div > section > ul > ul{
    background-color: rgb(184, 184, 184);
    width: 500px;
    margin-left: 10px;
    text-align: justify;
    border-radius: 10px;
    outline: thick solid black;
}
ul > ul > #descripción {
    padding: 0%;
    margin-bottom: 20px;
    font-family: 'merriweather', serif;
    display: inline-block;
    font-size: 20px;
}
ul > ul > section > p{
    font-family: 'merriweather', serif;
    display: inline;
    margin-left: 40px;
}
@media (max-width:640px){
    html{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    body{
        width: 320px;
        height: 480px;
        margin: auto;
    }
    header{
        width: 300px;
        font-size: 15px;
        margin-left: 10px;
    }
    header > h1{
        text-align: center;
        font-family: 'merriweather', serif;
        color: whitesmoke;
        outline: none;
        text-decoration: none;
    }
    nav{
        margin: auto;
        outline: solid black;
        width: 255px;
        height: 15px;
        margin-bottom: 5px;
    }
    a{
        padding-left: 20px;
        font-size: 10px;
        color: whitesmoke;
    }
    p{
        padding-top: 5px;
        color: whitesmoke;
        font-size: 9px;
        text-align: justify;
        width: 90%;
        margin: auto;
    }
    div{
        width: 300px;
        font-size: 10px;
        margin-top: 20px;
    }
    select{
        width: 200px;
        height: 15px;
        margin-left: 60px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    div > section{
        width: 280px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 20px;
        outline: solid black;
    }
    section > img{
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-left: 100px;
        border-radius: 5px;
    }
    div > section > ul > #nombre{    
        font-size: 15px;
        margin-left: 25px;
        margin-top: 0px;
        width: 150px;
        height: 20px;
        border-radius: 5px;}
    div > section > ul > ul{
        background-color: rgb(184, 184, 184);
        width: 210px;
        margin-left: -25px;
        margin-top: 15px;
        font-size: 10px;
        border-radius: 5px;
        background-color: rgb(184, 184, 184);
    }
    ul > ul > #descripción{
        text-align: center;
        background-color: rgb(184, 184, 184);
        font-size: 10px;
    }
    ul > ul > section > p{
        font-family: 'merriweather', serif;
        display: inline;
        margin-left: auto;
        padding: 2% 2% 2% 2%;
    }
}